RewriteEngine On

# Перенаправление с HTTP на HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Установка базового каталога
RewriteBase /

# Перенаправление всех запросов к index.html
RewriteRule ^(.*)$ index.html [QSA,L]

ErrorDocument 404 /error404.html
