.u-section-1 .u-sheet-1 {
  min-height: 317px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 22px 36px;
}

.u-section-1 .u-image-1 {
  width: 286px;
  height: 222px;
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -200px 218px 0 305px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -16px 19px 0 911px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-transform: uppercase;
  box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
  margin: 27px 19px 0 auto;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 357px;
    height: 314px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -282px;
    margin-right: 205px;
    margin-left: 406px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 22px;
    margin-left: 780px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-right: 22px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-1 .u-image-1 {
    width: 266px;
    height: 211px;
    margin-top: 2px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -196px;
    margin-right: 197px;
    margin-left: 303px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -56px;
    margin-right: 13px;
    margin-left: 569px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 247px;
    height: 179px;
    margin-top: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -165px;
    margin-right: 48px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 79px;
    margin-right: 162px;
    margin-left: 220px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -37px;
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-1 .u-image-1 {
    width: 106px;
    height: 106px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -101px;
    margin-right: 10px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 40px;
    margin-right: 154px;
    margin-left: 45px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 350px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 53px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 25px 0;
}

.u-section-2 .u-image-1 {
  width: 286px;
  height: 222px;
  margin: 1px auto 0 35px;
}

.u-section-2 .u-text-1 {
  margin: -192px 249px 0 335px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -9px 50px 0 952px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 35px 50px 0 auto;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-1 {
    width: 357px;
    height: 314px;
    margin-top: 4px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -274px;
    margin-right: 206px;
    margin-left: 406px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 22px;
    margin-left: 780px;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
    margin-right: 22px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 266px;
    height: 211px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -187px;
    margin-right: 192px;
    margin-left: 303px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -67px;
    margin-right: 15px;
    margin-left: 567px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 24px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-2 .u-image-1 {
    width: 247px;
    height: 179px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -156px;
    margin-right: 48px;
    margin-left: 285px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 94px;
    margin-right: 161px;
    margin-left: 220px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -37px;
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 13px;
  }

  .u-section-2 .u-image-1 {
    width: 106px;
    height: 106px;
    margin-top: 11px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -91px;
    margin-right: 11px;
    margin-left: 139px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
    margin-right: 149px;
    margin-left: 49px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 11px;
  }
}